.page-container {
    min-height: calc(100vh - 64px);
    overflow: auto;
}
.page-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
}
.side-menu {
    width: 15%;
}
.menu-icon {
    color: rgba(0, 0, 0, 0.54);
}
.mat-list .mat-subheader, .mat-nav-list .mat-subheader, .mat-selection-list .mat-subheader {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}