<mat-sidenav-container class="page-container">

  <mat-sidenav #sidenav mode="side" opened="true" class="mat-elevation-z3 side-menu">
    <mat-nav-list *ngFor="let menu of menus">
      <h3 mat-subheader> {{ menu.label }} </h3>
      <mat-list-item *ngFor="let item of menu.submenu" [routerLink]="item.link">
        <mat-icon matListIcon class="menu-icon"> {{ item.icon }} </mat-icon>
        <h4 matLine> {{ item.label }} </h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="page-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>