.toolbar-head {
    z-index: 100;
    position: relative;
}
.toolbar-icon {
    padding: 0 14px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.page-container {
    min-height: calc(100vh - 64px);
    overflow: auto;
}
.page-content {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
}
.side-menu {
    width: 15%;
}