<mat-toolbar color="primary">
  <span>Nova Proposta</span>
</mat-toolbar>

<mat-card>
  <mat-card-title>
    Dados Pessoais
  </mat-card-title>
  <mat-card-content>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>

    </mat-expansion-panel>
  </mat-card-content>
</mat-card>